<div class='header'>
  <div class='head-title'>Book Talk
  </div>
  <div class='search-form'>
    <%= search_form_for @p, url: search_books_path do |f| %>
      <%= f.label :genre_id_eq, 'ジャンルから探す', class: 'search-text' %>
      <%= f.collection_select(:genre_id_eq, Genre.all, :id, :name, {}, {class: 'search-select'}) %>
      <%= f.submit '検索', class: "search-btn"%>
    <% end %>
  </div>
    <ul class='lists'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "#", class: "nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up1" %></li>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <% end %>
    </ul>
  </div>
</div>