<%= render "shared/header2" %>

<div class='book-edit'>
  <div class='edit-box'>
    <div class='edit-top-str'>
      <b>内容編集ページ</b>
    </div>
    <div class='edit-form'>
    <%= form_with(model: @book, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <div class='edit-str'>
        <b>書籍名(必須)</b>
      </div>
        <%= f.text_area :name, class:'edit-books-name' %>
      <div class='edit-str'>
        <b>コメント(必須)</b>
      </div>
      <%= f.text_area :text, class:'edit-books-text' %>
      <div class='edit-str'>
        <b>ジャンル(必須)</b>
      </div>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:'edit-genre-select'}) %>
      <div class='edit-str'>
        <b>書籍画像(必須)</b>
      </div>
      <%= f.file_field :image, class:'edit-img-select' %>
      <div class='edit-btn-contents'>
        <b><%= f.submit "変更する", class:"edit-send-btn"%></b>
        <b><%= link_to '戻る', book_path(@book.id), class:"edit-back-btn" %></b>
      </div>
    <% end %>
    </div>
  </div>
<div>

<%= render "shared/footer"%>