<%= render "shared/header2" %>

<div class='book-show'>
  <div class='book-box'>
    <div class='book-index'>
      <% if user_signed_in? %>
        <% if current_user.id == @book.user_id %>
          <b><%= link_to '編集', edit_book_path(@book.id), class: 'edit-btn' %><b>
          <b><%= link_to '削除', book_path(@book.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: 'delete-btn' %><b>
        <% end %>
      <% end %>
      <div class='book-show-genre'>
        <b><%= @book.genre.name %></b>
      </div>
      <div class='book-show-name'>
        <b><%= @book.name %></b>
      </div>
      <div class='book-show-image'>
        <%= image_tag @book.image, class:'show-img' %>
      </div>
      <div class='book-show-text'>
        <%= @book.text %>
      </div>
    <div>
  </div>
  <div class='comment-box'>
    <div class='comment-form'>
    <% if user_signed_in? %>
    <%= form_with(model: [@book, @comment], local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <%= f.text_area :text, placeholder: "コメントを入力しよう", class:'comment-text' %>
      <%= f.submit "コメントする", class:'comment-btn' %>
      <% end %>
    <% else %>
      <div class='comment-login'>
        <b>△コメント投稿にはログインが必要です△</b>
      </div>
    <% end %>
    </div>
    <div class='comment-index'>
      <div class='comment-top'>
        <b><p>〜コメント一覧〜<p></b>
      </div>
      <% @comments.each do |comment| %>
        <p>
          <%= comment.user.nickname %>：
          <%= comment.text %>
          <p>
          （<%= comment.created_at %>）に投稿//
          </p>
        </p>
      <% end %>
    </div>
  </div>
</div>